<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about page</title>
</head>
<body bgcolor="skyblue">

    <div style="color: white;">
        <a href="/student/home">Home</a> |
        <a href="/student/about">About</a> |
        <a href="/student/service">Services</a> |
        <a href="/student/contact">Contact</a> 
    </div>
    
    <h1> Welcome to our Students about page  </h1>
</body>
</html>