 
 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body bgcolor="gray">

    <div style="color: white;">
        <a href="/student/home">Home</a> |
        <a href="/student/about">About</a> |
        <a href="/student/service">Services</a> |
        <a href="/student/contact">Contact</a> 
    </div>

    <h1> Welcome to our Students home page with views </h1>

    <form action="/student/datasave" method="POST">

        Rollno. <input type="number" name="rollno"> <br> <br> 
        Name <input type="text" name="name"> <br> <br> 
        City <input type="text" name="city"> <br> <br> 
        Fees <input type="number" name="fees"> <br> <br> 

        <button type="submit"> submit</button>
    </form>
</body>

</html>